/* Align cat#index cards */
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

body{
    background: #ffe15a !important
    
}
.container_color{
    // background: image-url("so-white.png");
    // background-size: 300px;
    // background-repeat: repeat; 
    background: white
}

.footer{
    background-color: #f8f9fa !important
}