#This is where you will setup Appointment for cat, after choosing Pickup service
<h1>Pickup Service</h1>
<p>For cat <%= @cat.name %></p>
<p>Choose a Date</p>
<%= render 'form', appointment: @appointment %>
